In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import KFold
from keras.api._v2.keras import activations
from tensorflow import keras
from tensorflow.keras import layers
from sklearn.model_selection import train_test_split

In [ ]:
treino = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
treino.fillna(method='ffill', inplace=True)
treino = treino.replace('female', 0)
treino = treino.replace('male', 1)
treino['Embarked'] = treino['Embarked'].replace('S',0)
treino['Embarked'] = treino['Embarked'].replace('C',1)
treino['Embarked'] = treino['Embarked'].replace('Q',2)
#scaler = StandardScaler()
#scaler.fit(treino[treino.columns.difference(['Survived', 'Cabin','Name','Ticket'])])
#treinoA = scaler.transform(treino[treino.columns.difference(['Survived', 'Cabin','Name','Ticket'])])
display(treino)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,1
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,C85,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,0
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,C123,0
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",1,27.0,0,0,211536,13.0000,C50,0
887,888,1,1,"Graham, Miss. Margaret Edith",0,19.0,0,0,112053,30.0000,B42,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,19.0,1,2,W./C. 6607,23.4500,B42,0
889,890,1,1,"Behr, Mr. Karl Howell",1,26.0,0,0,111369,30.0000,C148,1
890,891,0,3,"Dooley, Mr. Patrick",1,32.0,0,0,370376,7.7500,C148,2

In [ ]:
Nneuronios = [16,32,64]
for i in Nneuronios:
  kf = KFold(n_splits=5, random_state=42, shuffle=True)
  for trainindex, testindex in kf.split(treino[treino.columns.difference(['Survived', 'Cabin','Name','Ticket'])],treino['Survived']):
    model = keras.Sequential([layers.Dense(i, activation='relu'), layers.Dense(2, activation='softmax')])
    model.compile(optimizer='rmsprop', loss='sparse_categorical_crossentropy', metrics=['accuracy'])
    display(treino['Sex'][trainindex])
    display(treino['Sex'][testindex])
    #model.fit(,,epochs=100, batch_size=128)

0      1
1      0
2      0
3      0
4      1
      ..
883    1
884    1
887    0
888    0
890    1
Name: Sex, Length: 712, dtype: int64

5      1
10     0
23     1
25     0
30     1
      ..
876    1
877    1
885    0
886    1
889    1
Name: Sex, Length: 179, dtype: int64

0      1
1      0
3      0
4      1
5      1
      ..
886    1
887    0
888    0
889    1
890    1
Name: Sex, Length: 713, dtype: int64

2      0
6      1
7      1
12     1
18     0
      ..
865    0
869    1
880    0
882    0
884    1
Name: Sex, Length: 178, dtype: int64

1      0
2      0
4      1
5      1
6      1
      ..
885    0
886    1
887    0
888    0
889    1
Name: Sex, Length: 713, dtype: int64

0      1
3      0
9      0
11     0
15     0
      ..
866    0
874    0
879    0
881    1
890    1
Name: Sex, Length: 178, dtype: int64

0      1
1      0
2      0
3      0
4      1
      ..
885    0
886    1
887    0
889    1
890    1
Name: Sex, Length: 713, dtype: int64

8      0
16     1
17     1
26     1
36     1
      ..
870    1
872    1
875    0
878    1
888    0
Name: Sex, Length: 178, dtype: int64

0      1
2      0
3      0
5      1
6      1
      ..
885    0
886    1
888    0
889    1
890    1
Name: Sex, Length: 713, dtype: int64

1      0
4      1
13     1
14     0
20     1
      ..
867    1
871    0
873    1
883    1
887    0
Name: Sex, Length: 178, dtype: int64

0      1
1      0
2      0
3      0
4      1
      ..
883    1
884    1
887    0
888    0
890    1
Name: Sex, Length: 712, dtype: int64

5      1
10     0
23     1
25     0
30     1
      ..
876    1
877    1
885    0
886    1
889    1
Name: Sex, Length: 179, dtype: int64

0      1
1      0
3      0
4      1
5      1
      ..
886    1
887    0
888    0
889    1
890    1
Name: Sex, Length: 713, dtype: int64

2      0
6      1
7      1
12     1
18     0
      ..
865    0
869    1
880    0
882    0
884    1
Name: Sex, Length: 178, dtype: int64

1      0
2      0
4      1
5      1
6      1
      ..
885    0
886    1
887    0
888    0
889    1
Name: Sex, Length: 713, dtype: int64

0      1
3      0
9      0
11     0
15     0
      ..
866    0
874    0
879    0
881    1
890    1
Name: Sex, Length: 178, dtype: int64

0      1
1      0
2      0
3      0
4      1
      ..
885    0
886    1
887    0
889    1
890    1
Name: Sex, Length: 713, dtype: int64

8      0
16     1
17     1
26     1
36     1
      ..
870    1
872    1
875    0
878    1
888    0
Name: Sex, Length: 178, dtype: int64

0      1
2      0
3      0
5      1
6      1
      ..
885    0
886    1
888    0
889    1
890    1
Name: Sex, Length: 713, dtype: int64

1      0
4      1
13     1
14     0
20     1
      ..
867    1
871    0
873    1
883    1
887    0
Name: Sex, Length: 178, dtype: int64

0      1
1      0
2      0
3      0
4      1
      ..
883    1
884    1
887    0
888    0
890    1
Name: Sex, Length: 712, dtype: int64

5      1
10     0
23     1
25     0
30     1
      ..
876    1
877    1
885    0
886    1
889    1
Name: Sex, Length: 179, dtype: int64

0      1
1      0
3      0
4      1
5      1
      ..
886    1
887    0
888    0
889    1
890    1
Name: Sex, Length: 713, dtype: int64

2      0
6      1
7      1
12     1
18     0
      ..
865    0
869    1
880    0
882    0
884    1
Name: Sex, Length: 178, dtype: int64

1      0
2      0
4      1
5      1
6      1
      ..
885    0
886    1
887    0
888    0
889    1
Name: Sex, Length: 713, dtype: int64

0      1
3      0
9      0
11     0
15     0
      ..
866    0
874    0
879    0
881    1
890    1
Name: Sex, Length: 178, dtype: int64

0      1
1      0
2      0
3      0
4      1
      ..
885    0
886    1
887    0
889    1
890    1
Name: Sex, Length: 713, dtype: int64

8      0
16     1
17     1
26     1
36     1
      ..
870    1
872    1
875    0
878    1
888    0
Name: Sex, Length: 178, dtype: int64

0      1
2      0
3      0
5      1
6      1
      ..
885    0
886    1
888    0
889    1
890    1
Name: Sex, Length: 713, dtype: int64

1      0
4      1
13     1
14     0
20     1
      ..
867    1
871    0
873    1
883    1
887    0
Name: Sex, Length: 178, dtype: int64